body {
    background-color:lightgray;
    text-align:center
}

article {
    padding:30px;
}

img {
    height:300px;
    width:437px;
}
p {
    align:center;
    margin-left:25%;
    margin-right:25%;
}

.caption {
    font-weight:bold;
    font-style:italic;
    border:10px;
    padding-bottom:20px;
}

#bottom {
    text-decoration:underline;
    color:blue;
}
